<template>
    <div class="p-strip">
        <loading :loading="loading" />

        <div class="row u-clearfix" v-if="!loading">
            <div class="row">
                <form class="add-form p-form p-form--inline" @submit.prevent="addGrocery(newGrocery)">
                    <div class="p-form__group">
                        <label for="grocery" class="p-form__label" v-translate>Add Grocery</label>
                        <input
                            type="text"
                            id="grocery"
                            class="p-form__control p-contextual-menu__toggle"
                            :value="newGrocery"
                            @input="newGrocery = $event.target.value"
                            aria-controls="#suggestions"
                            :aria-expanded="hasSuggestions ? 'true' : 'false'"
                            aria-haspopup="true"
                        />

                        <span
                            id="suggestions"
                            class="p-contextual-menu__dropdown"
                            :aria-hidden="hasSuggestions ? 'false' : 'true'"
                            aria-label="submenu"
                        >
                            <span class="p-contextual-menu__group">
                                <a
                                    v-for="suggestion in suggestions"
                                    :key="suggestion"
                                    @click="addGrocery(suggestion)"
                                    class="p-contextual-menu__link"
                                >
                                    {{suggestion}}
                                </a>
                            </span>
                        </span>

                        <div class="add-button">
                            <a @click="addGrocery(newGrocery)">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </div>
                </form>
            </div>

            <div v-for="category in list" :key="category.id" class="category">
                <h3>
                    {{category.name}}
                </h3>

                <ul class="p-list--divided">
                    <li
                        v-for="grocery in category.groceries"
                        :key="grocery.id"
                        class="p-list__item"
                        :class="{'checked text-lightgrey': grocery.checked}"
                    >
                        <router-link
                            :to="{name: 'grocery-edit', params: {id: grocery.id}}"
                            class="u-float-right edit-button"
                        >
                            <i class="fa fa-edit"></i>
                        </router-link>

                        <input
                            type="checkbox"
                            :id="grocery.id"
                            :checked="grocery.checked"
                            @change="toggleChecked(grocery)"
                        />
                        <label class="grocery" :for="grocery.id">
                            {{grocery.name}}
                        </label>

                        <p v-if="grocery.description" class="description text-lightgrey">
                            {{grocery.description}}
                        </p>
                    </li>
                </ul>
            </div>

            <div class="row">
                <div class="col-3" v-if="hasCheckedGroceries">
                    <a class="p-button--negative" @click="removeChecked()">
                        <i class="fa fa-trash mr"></i>
                        <span v-translate>Remove all checked</span>
                    </a>
                </div>

                <div class="col-3">
                    <router-link :to="{name: 'grocery-categories'}" class="p-button--neutral">
                        <i class="fa fa-list mr"></i>
                        <span v-translate>Manage Categories</span>
                    </router-link>
                </div>
            </div>

            <p v-translate>Warning: The grocery list is in beta and it does not yet sync.</p>
        </div>
    </div>
</template>

<script>
import Vue from 'vue';

import storage from '@/storage';
import {grocerySort, categorySort} from '@/sorts';

export default {
    name: 'GroceryList',
    head: {
        title: {inner: 'Grocery List'},
    },
    data() {
        return {
            loading: true,
            newGrocery: '',
            list: [],
            category: {},
        };
    },
    mounted() {
        this.load();
    },
    methods: {
        load() {
            this.loading = true;

            let groceries = storage.groceries.list();
            let categories = storage.groceryCategories.list();

            let categoryMap = categories.reduce((map, category) => {
                map[category.id] = {...category, groceries: []};
                return map;
            }, {none: {name: this.$gettext('No Category'), groceries: []}});

            groceries.forEach((grocery) => {
                if (grocery.categoryId && categoryMap[grocery.categoryId]) {
                    categoryMap[grocery.categoryId].groceries.push(grocery);
                }
                else {
                    categoryMap.none.groceries.push(grocery);
                }
            });

            let list = Object.values(categoryMap).filter((category) => (category.groceries.length > 0));
            list.forEach((category) => {
                category.groceries.sort(grocerySort);
            });
            list.sort(categorySort);

            this.list = list;
            this.loading = false;
        },
        addGrocery(name) {
            if (name) {
                let category = storage.groceryCategories.findBySuggestion(name);
                let grocery = {
                    name: name,
                    categoryId: category ? category.id : '',
                    checked: false,
                };

                storage.groceries.save(grocery);

                this.load();
                this.newGrocery = '';
            }
        },
        toggleChecked(grocery) {
            Vue.set(grocery, 'checked', !grocery.checked);
            storage.groceries.save(grocery);
        },
        removeChecked() {
            let groceries = this.list.flatMap((category) => (category.groceries || []));
            groceries.filter((grocery) => grocery.checked).forEach((grocery) => {
                storage.groceries.remove(grocery.id);
            });

            this.load();
        },
    },
    computed: {
        suggestions() {
            if (!this.newGrocery) {
                return [];
            }

            let categories = storage.groceryCategories.list();
            return categories.flatMap((category) => (category.suggestions || []))
                .filter((suggestion) => (suggestion.toLowerCase().startsWith(this.newGrocery.toLowerCase())))
                .slice(0, 5);
        },
        hasSuggestions() {
            return this.suggestions.length > 0;
        },
        hasCheckedGroceries() {
            return this.list.some((category) => category.groceries.some((grocery) => grocery.checked));
        },
    },
};
</script>

<style scoped>
.add-form .p-form__group {
    position: relative;
}

.add-button {
    position: absolute;
    margin-top: 0;
    top: 0.5em;
    right: -1em;
}

@media (max-width: 459px) {
    .add-button {
        top: 0.5em;
        right: 0;
    }
}

.grocery {
    margin: 0;
}

.description {
    font-size: 0.75em;
    margin-top: 0;
    margin-left: 2.5em;
}

.checked {
    text-decoration: line-through;
}

.edit-button {
    margin-top: 0.25em;
}

ul, .category {
    margin-top: 1rem;
}
</style>
