<template>
    <div class="row p-strip">
        <h1>Edit Grocery</h1>

        <loading :loading="loading" />

        <div class="row" v-if="!loading">
            <form class="p-form p-form--stacked">
                <div class="p-form__group row">
                    <label for="name" class="col-4" v-translate>Name</label>
                    <input
                        type="text"
                        id="name"
                        class="col-8"
                        :disabled="saving"
                        v-model="grocery.name"
                    />
                </div>

                <div class="p-form__group row">
                    <label for="description" class="col-4" v-translate>Description</label>
                    <input
                        type="text"
                        id="description"
                        class="col-8"
                        :disabled="saving"
                        v-model="grocery.description"
                    />
                </div>

                <!-- TODO unit/quantity -->

                <div class="p-form__group row">
                    <label for="category" class="col-4" v-translate>Category</label>
                    <select id="category" class="col-8" :disabled="saving" v-model="grocery.categoryId">
                        <option value="" v-translate>No Category</option>
                        <option
                            v-for="category in categories"
                            :key="category.id"
                            :value="category.id"
                        >
                            {{category.name}}
                        </option>
                    </select>
                </div>

                <!-- TODO new category button -->
            </form>

            <div class="row">
                <div class="col-12">
                    <a class="p-button--positive" @click="save()" :disabled="saving">
                        <i class="fa mr" :class="{'fa-save': !saving, 'fa-spinner fa-spin': saving}"></i>
                        <span v-translate>Save</span>
                    </a>

                    <router-link
                    class="p-button--neutral"
                    :to="{name: 'grocery-list'}"
                    :disabled="saving"
                    >
                    <i class="fa fa-times mr"></i>
                    <span v-translate>Cancel</span>
                </router-link>
                </div>
            </div>

            <!-- TODO delete -->
        </div>
    </div>
</template>

<script>
import storage from '@/storage';

export default {
    name: 'GroceryEdit',
    head: {
        title: {inner: 'Grocery Edit'},
    },
    data() {
        return {
            loading: true,
            grocery: {},
            categories: [],
            saving: false,
            oldName: '',
            oldCategoryId: '',
        };
    },
    mounted() {
        this.load();
    },
    methods: {
        load() {
            this.loading = true;

            this.grocery = storage.groceries.find(this.$route.params.id);
            this.grocery.description = this.grocery.description || '';
            this.grocery.quantity = this.grocery.quantity || '';
            this.grocery.unit = this.grocery.unit || '';
            this.grocery.categoryId = this.grocery.categoryId || '';

            let categories = storage.groceryCategories.list();
            categories.sort((a, b) => {
                if (a.name > b.name) {
                    return 1;
                }
                if (a.name < b.name) {
                    return -1;
                }

                return 0;
            });

            this.categories = categories;

            this.oldName = this.grocery.name;
            this.oldCategoryId = this.grocery.categoryId;

            this.loading = false;
        },
        save() {
            if (this.grocery.name) {
                this.saving = true;

                if (
                    this.oldName != this.grocery.name &&
                    this.oldCategoryId == this.grocery.categoryId &&
                    this.grocery.categoryId
                ) {
                    let category = storage.groceryCategories.find(this.grocery.categoryId);
                    category.suggestions = category.suggestions || [];

                    let index = category.suggestions.findIndex((suggestion) => (suggestion == this.oldName));
                    if (index >= 0) {
                        category.suggestions.splice(index, 1);
                    }

                    category.suggestions.push(this.grocery.name);
                    storage.groceryCategories.save(category);
                }
                else if (this.oldCategoryId != this.grocery.categoryId) {
                    if (this.oldCategoryId) {
                        let oldCategory = storage.groceryCategories.find(this.oldCategoryId);
                        if (oldCategory) {
                            oldCategory.suggestions = oldCategory.suggestions || [];

                            let index = oldCategory.suggestions.findIndex((suggestion) => (suggestion == this.oldName));
                            if (index >= 0) {
                                oldCategory.suggestions.splice(index, 1);
                            }

                            storage.groceryCategories.save(oldCategory);
                        }
                    }

                    if (this.grocery.categoryId) {
                        let newCategory = storage.groceryCategories.find(this.grocery.categoryId);
                        if (newCategory) {
                            newCategory.suggestions = newCategory.suggestions || [];

                            newCategory.suggestions.push(this.grocery.name);
                            storage.groceryCategories.save(newCategory);
                        }
                    }
                }

                storage.groceries.save(this.grocery);
                this.$router.push({name: 'grocery-list'});

                this.saving = false;
            }
        },
    },
};
</script>
