<template>
    <div class="p-strip">
        <div class="row">
            <div class="col-6">
                <form class="p-form p-form--inline" @submit.prevent>
                    <div class="p-form__group">
                        <label for="search" class="p-form__label" v-translate>Search</label>
                        <input
                        type="text"
                        id="search"
                        class="p-form__control"
                        :value="term"
                        @input="term = $event.target.value"
                        />
                    </div>
                </form>
            </div>

            <div class="col-6">
                <router-link :to="{name: 'recipe-new'}" class="new-button p-button--positive u-float-right">
                    <i class="fa fa-plus mr"></i>
                    <span v-translate>New Recipe</span>
                </router-link>
            </div>
        </div>

        <loading :loading="loading" />

        <div class="row u-clearfix" v-if="!loading">
            <ul class="p-matrix u-clearfix">
                <li v-for="result in results" :key="result.id" class="p-matrix__item">
                    <img
                        class="p-matrix__img"
                        v-lazy="result.proxyImage"
                        :alt="result.title"
                        @click="$router.push({name: 'recipe-view', params: {id: result.id}})"
                        v-if="result.image"
                    />
                    <img
                        class="p-matrix__img"
                        v-lazy="'/img/missing.svg'"
                        :alt="result.title"
                        @click="$router.push({name: 'recipe-view', params: {id: result.id}})"
                        v-else
                    />

                    <div class="p-matrix__content">
                        <h3 class="p-matrix__title">
                            <router-link
                                class="p-matrix__link"
                                :to="{name: 'recipe-view', params: {id: result.id}}"
                            >
                                {{result.title}}
                            </router-link>
                        </h3>

                        <p class="p-matrix__desc">
                            {{result.description}}

                            <star-rating :rating="result.rating" v-if="result.rating"></star-rating>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
import storage from '@/storage';
import utils from '@/utils';

export default {
    name: 'RecipeList',
    head: {
        title: {inner: 'Recipe List'},
    },
    data() {
        return {
            loading: true,
            results: [],
            term: '',
        };
    },
    created() {
        this.search(true);

        this.$bus.$on('reload-recipes', () => {
            this.search();
        });
    },
    methods: {
        search(firstLoad) {
            if (this.term || firstLoad) {
                this.loading = true;
            }

            storage.recipes.search(this.term).then((results) => {
                this.results = results.map((result) => {
                    result.proxyImage = utils.imageUrl(result.image);
                    return result;
                });
                this.loading = false;
            });
        },
    },
    watch: {
        term() {
            // TODO debounce
            this.search();
        },
    },
};
</script>

<style scoped>
.new-button {
    margin-top: 0.25em;
}
</style>
