<template>
    <modal name="edit-category">
        <div class="p-strip">
            <h3 v-if="newCategory" v-translate>
                New Category
            </h3>
            <h3 v-else v-translate>
                Edit Category
            </h3>

            <form class="p-form" @submit.prevent="$emit('save')">
                <div class="p-form__group">
                    <label for="category" class="p-form__label" v-translate>Name</label>
                    <input
                        type="text"
                        id="category"
                        class="p-form__control"
                        v-model.trim="value.name"
                    />
                </div>

                <div class="p-form__group">
                    <label for="order" class="p-form__label" v-translate>Order</label>
                    <input
                        type="number"
                        id="order"
                        class="p-form__control"
                        v-model.number="value.order"
                    />
                </div>

                <button class="p-button--positive" @click.prevent="$emit('save')" v-translate>
                    Save
                </button>

                <button v-if="!newCategory" class="p-button--negative" @click.prevent="$emit('delete')" v-translate>
                    Delete
                </button>

                <button
                    class="p-button--neutral"
                    @click.prevent="$emit('cancel')"
                    v-translate
                >
                    Cancel
                </button>
            </form>
        </div>
    </modal>
</template>


<script>
export default {
    name: 'EditCategory',
    props: ['value', 'show'],
    computed: {
        newCategory() {
            return !this.value.id;
        },
    },
    watch: {
        show(value) {
            if (value) {
                this.$modal.show('edit-category');
            }
            else {
                this.$modal.hide('edit-category');
            }
        },
    },
};
</script>
